* {
    
    background-color: none;
    font-family: sans-serif;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    color: black;
    padding: 20px;
}
h3 {
    font-size: 30px;
}


textArea {
    width: 95%;
    height: 20vh;
}

.btn {
   
    background-color:black;
    
}
.btn:hover{
    transform: scale(1.05);
    
}

.mealIngredient {
   
    color: black;
}
.mealText {
    align-items: center;
    padding: 10px;
    background-color: white;
}

.drink {
    align-items: center;
    color: black

}

.drinkText {
    align-items: center;
    padding: 10px;
    background-color: white;
}

.material-icons {
    background-color: black;

}
/* .col {
    max-height: ;
} */
/* .saved { */

/* } */
.container {
    width: 100vw;
}
.row {
    width: 100vw;

}
button, input, optgroup, select, textarea {
    background-color: white;
}
