* {
    
    background-color: none;
    font-family: sans-serif;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    color: black;
    padding: 20px;
}
h1:hover {
    color: red;
}

.logo{
    text-align: center;

}


h3 {
    font-size: 30px;
}


textArea {
    width: 95%;
    height: 5.8vh;
    resize: none;
}

textArea:hover {
    border: solid 1px red;
}

.btn {
   
    background-color:black;
    
}
.btn:hover{
    transform: scale(1.05);
    background-color: red;
    
}

.mealIngredient {
   
    color: black;
}
.mealIngredient:hover {
    color: red;
}
.mealText {
    align-items: center;
    padding: 10px;
    background-color: white;
}

.drink {
    align-items: center;
    color: black

}
.drink:hover {
    color: red;
}

.drinkText {
    align-items: center;
    padding: 10px;
    background-color: white;
}

.material-icons {
    background-color: black;
}

.material-icons:hover {
    background-color: red;
}
/* .col {
    max-height: ;
} */
/* .saved { */

/* } */
.container {
    width: 100vw;
}
.row {
    width: 100vw;

}
button, input, optgroup, select, textarea {
    background-color: white;
}
.collapsible-header i {
    background-color: white;

}

.collapsible {
    width: 95%;
    border: solid 1px black;
}

.collapsible:hover {
    border: solid 1px red;
}

.saved:hover {
    color: red;
}

#mealList:hover {
    color: red;
}

#drinkList:hover {
    color: red;
}